POSTGRES_USER=pg_user
POSTGRES_PASSWORD=pg_password
POSTGRES_DB=pg_database
POSTGRES_PORT=pg_port
DATABASE_URL=postgresql://pg_user:pg_password@localhost:pg_port/pg_database

REDIS_PORT=redis_port
REDIS_URL=redis://localhost:redis_port
